################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XZdataApi/v16
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/XZDataCS_Test/obj/Debug
/XZDataCS_Test/obj/x64
/XZDataCS_Test/obj/x86
/Debug
/ULOGTest/Debug
/XZdataApi/Debug/XZdataApi.tlog
/XZdataApi/Debug
/XZDataCS_Test/bin/Debug
obj
*.pdb
*.obj
*.log
*.recipe
*.iobj
*.ipdb
*.pch
*.tlog
