################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XZdataApi/v16
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/XZDataCS_Test/obj/Debug
/XZDataCS_Test/obj/x64
/XZDataCS_Test/obj/x86
